

<div class="container">   
  <div class="card-group mt-3" >
        <button type="button" class="btn btn-secondary" style="margin-right: 10px;" (click)="voidshowdashboard()"><h4>Dashboard</h4></button>
        <button type="button" class="btn btn-secondary" style="margin-left: 10px;" (click)="voidshowmonitory()"><h4>Monitory</h4></button>
        <h3 style="margin-left: 20px;">{{reloj}}</h3>
  </div>
</div>
<br>

<div class="form-group" *ngIf="mostrar_monitory" style="position: relative; margin: auto; overflow: scroll; height: 500px; width: 90%;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Age</th>
        <th scope="col">Vaccine Type</th>
        <th scope="col">No Dose</th>
      </tr>
    </thead>
    <tr class="table-active" *ngFor="let j of message">
      <td>{{j.name}}</td>
      <td>{{j.location}}</td>
      <td>{{j.age}}</td>
      <td>{{j.vaccine_type}}</td>
      <td>{{j.n_dose}}</td>
  </tr>
  </table>
</div>

<div *ngIf="mostrar_dashboard">
  <div class="container" >   
    <div class="card-group mt-3" >

      <div class="card text-white bg-secondary mb-3" style="max-width: 40rem; margin: 10px; text-align: center;">
        <div class="card-header"><h4>Top 3 areas with the most vaccinated</h4></div>
        <div class="card-body"> <br>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Area</th>
                <th scope="col">No. Vaccine</th>
              </tr>
            </thead>
            <tr class="table-active" *ngFor="let j of areas">
              <td>{{j._id}}</td>
              <td>{{j.count}}</td>
          </tr>
          </table>
        </div>
      </div>

      <div class="card text-white bg-secondary mb-3" style="max-width: 40rem; margin: 10px; text-align: center;">
        <div class="card-header"><h4>Last 5 people vaccinated</h4></div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Vaccine Type</th>
                <th scope="col">No Dose</th>
              </tr>
            </thead>
            <tr class="table-active" *ngFor="let j of top5">
              <td>{{j.name}}</td>
              <td>{{j.vaccine_type}}</td>
              <td>{{j.n_dose}}</td>
          </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="container" >   
    <div class="card-group mt-3" >
      <div class="card border-secondary mb-3" style="max-width: 40rem; margin: 10px; text-align: center;">
        <div class="card-header"><h4>Vaccinated with one dose</h4> </div>
        <div class="card-body" style="color: white;">
          <canvas baseChart width="800" height="400" class="tables" style="width: 90%;"
                        [datasets]="pieChartDataOneDose"
                        [options]="pieChartOptions"
                        [labels]="pieChartLabelsOneDose"
                        [chartType]="pieChartType">
              </canvas>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 40rem; margin: 10px; text-align: center;">
        <div class="card-header"><h4>Vaccinated with complete scheme</h4></div>
        <div class="card-body">
          <canvas baseChart width="800" height="400" class="tables" style="width: 90%;"
                    [datasets]="pieChartDataCompleteScheme"
                    [options]="pieChartOptions"
                    [labels]="pieChartLabelsCompleteScheme"
                    [chartType]="pieChartType">
          </canvas>
        </div>
      </div>
    </div>

    <div class="container" >   
      <div class="card-group mt-3" >


        <div class="card border-secondary mb-3" style="width: 100%; margin: 10px; text-align: center;">
          <div class="card-header"><h4>Ages Range</h4></div>
          <div class="card-body">

            <canvas baseChart width="800" height="400" class="tables" style="width: 90%;"
                [datasets]="barChartDataAgeRange"
                [labels]="barChartLabelsAgeRange"
                [options]="barChartOptionsAgeRange"
                [colors]="barChartColorsAgeRange"
                [legend]="barChartLegendAgeRange"
                [chartType]="barChartTypeAgeRange"></canvas>


          </div>
        </div>

        
      </div>
    </div>

  </div>


  

  


</div>



  